services:
  pcdaco-be:
    container_name: pcdaco-be
    image: persiedacoder/pcdaco-be:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.pcdacobe.rule=Host(`api.freedriver.fun`)"
      - "traefik.http.routers.pcdacobe.entrypoints=websecure"
      - "traefik.http.services.pdcacobe.loadbalancer.server.port=8080"
      - "traefik.http.routers.pcdacobe.tls=true"
      - "traefik.http.routers.pcdacobe.tls.certresolver=pcdacoResolver"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
      - CONNECTION_STRING=User ID=postgres;Password=postgres;Host=postgis;Port=5432;Database=PCDACODB;
    ports:
      - "8080:8080"
    depends_on:
      - postgis
    restart: unless-stopped

  pcdaco-fe:
    container_name: pcdaco-fe
    image: persiedacoder/pcdaco-fe:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.pcdacofe.rule=Host(`freedriver.fun`)"
      - "traefik.http.routers.pcdacofe.entrypoints=websecure"
      - "traefik.http.services.pcdacofe.loadbalancer.server.port=3000"
      - "traefik.http.routers.pcdacofe.tls=true"
      - "traefik.http.routers.pcdacofe.tls.certresolver=pcdacoResolver"
    environment:
      - NODE_ENV=production
      - NEXT_PRIVATE_API_URL=http://pcdaco-be:8080
      - NEXT_PUBLIC_API_URL=https://api.freedriver.fun
    depends_on:
      - pcdaco-be
    ports:
      - "3000:3000"
    restart: unless-stopped

  postgis:
      image: postgis/postgis:13-3.1
      container_name: postgis_container
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: PCDACODB
      volumes:
        - postgres_data:/var/lib/postgresql/data
      restart: unless-stopped
      ports:
        - "5432:5432" # Expose PostgreSQL on localhost

  seq:
    image: datalust/seq:latest
    container_name: pcdaco-seq
    environment:
      - ACCEPT_EULA=Y
    ports:
      - 5341:5341
      - 8081:80
    restart: unless-stopped

  traefik:
      image: traefik:v3.3
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./config/traefik.yml:/etc/traefik/traefik.yml:ro
        - letsencrypt:/letsencrypt
      ports:
        - "80:80"   # The custom host port mapped to Traefik's web entrypoint.
        - "443:443"   # The custom host port mapped to Traefik's web entrypoint.
        - "8098:8080"   # Optional: exposes the Traefik dashboard.

volumes:
  postgres_data:
  letsencrypt:
